<component name="ArtifactManager">
  <artifact type="war" name="springmvcWithChuanZhi:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvcWithChuanZhi.war">
      <element id="artifact" artifact-name="springmvcWithChuanZhi:war exploded" />
    </root>
  </artifact>
</component>